@charset "utf-8";

/*html5*/

article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
menu {
    display: block;
}


/*公共*/

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: '方正兰亭黑', '微软雅黑', Helvetica, Arial, sans-serif;
    color: #333;
    background-color: white;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
blockquote,
p {
    padding: 0;
    margin: 0;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

img {
    vertical-align: middle;
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: normal;
}

address,
cite,
code,
em,
th,
i {
    font-weight: normal;
    font-style: normal;
}

i,
b {
    font-weight: normal;
}

input {
    border: none;
}

input:focus {
    outline: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.ut-white {
    color: black;
    background: white;
    border: 1px solid #1b1b1b;
}

.ut-white1 {
    color: black;
    background: white;
}


/* .ut-white1 li:hover {
    color: #000;
    background-color: #efefef;
}

.ut-black1 li:hover {
    color: white;
    background-color: #16161a;
} */

.ut-black {
    color: white;
    background: black;
}

.ut-black1 {
    color: white;
    /* background: #1b1b1b; */
    background: black;
}

.el-tree {
    border: none;
}

.ut-input-white input {
    color: #000;
    /* background-color: #F7F7F7; */
    background-color: white;
}

.ut-input-black input {
    color: white;
    /* background-color: #1b1b1b; */
    background-color: black;
}

.pagecolr-black {
    background-color: black;
}

.pagecolr-white {
    background-color: white;
}

.pagecolr-black-after::after {
    background-color: black;
}

.pagecolr-white-after::after {
    background-color: white;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

textarea {
    border: none;
    resize: none;
    outline: none;
    font-family: '方正兰亭黑', '微软雅黑', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.font-activeb {
    color: #000;
    font-weight: 700;
}

.font-activew {
    color: white;
    font-weight: 700;
}

.borderblack .utBorder {
    border-color: #1b1b1b !important;
}

.borderblack .utBorder::after {
    border-color: #1b1b1b !important;
    background: #1b1b1b !important;
}

.borderblack .utBorder::before {
    border-color: #1b1b1b !important;
    background: #1b1b1b !important;
}

.borderwhite .utBorder {
    border-color: #dcdddd !important;
}

.borderwhite .utBorder::before {
    border-color: #dcdddd !important;
    background: #dcdddd !important;
}

.borderwhite .utBorder::after {
    border-color: #dcdddd !important;
    background: #dcdddd !important;
}

.borderwhite .el-tree-node__content:hover {
    background: #e4e8f1 !important;
}

.borderblack .el-tree-node__content:hover {
    background: black !important;
}

.borderwhite .bordermsg input {
    border: 1px solid #dcdddd !important;
}

.borderblack .bordermsg input {
    border: 1px solid #1b1b1b !important;
}

.slider-black .el-slider__button,
.el-slider__bar,
.el-slider__runway {
    background-color: black;
}

.slider-white .el-slider__button,
.el-slider__bar,
.el-slider__runway {
    background-color: white;
}

.el-slider__runway {
    height: 2px;
}

.el-slider__bar {
    height: 2px;
}

.el-tooltip__popper.is-dark {
    background: unset;
    color: #999;
}

tooltip__popper .popper__arrow,
.el-tooltip__popper .popper__arrow::after {
    border: none !important;
}

.el-tooltip__popper .popper__arrow {
    border-width: 0;
}

.cursor {
    cursor: pointer;
}

.navBorder-w {
    border-color: white;
}

.navBorder-b {
    border-color: black;
}

.borderwhite .navBorder {
    border-color: white;
}

.borderblack .navBorder {
    border-color: black;
}

.pageindex {
    position: absolute;
    top: 0;
    right: 50%;
}