@charset "utf-8";

/*html5*/

article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
menu {
    display: block;
}


/*公共*/

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: '微软雅黑', Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #f7f7f7;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
blockquote,
p {
    padding: 0;
    margin: 0;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

img {
    vertical-align: middle;
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: normal;
}

address,
cite,
code,
em,
th,
i {
    font-weight: normal;
    font-style: normal;
}

i,
b {
    font-weight: normal;
}

input {
    border: none;
}

input:focus {
    outline: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.ut-white {
    color: black;
    background: white;
    border: 1px solid #000;
}

.ut-white1 {
    color: black;
    background: white;
}

.ut-black {
    color: white;
    background: black;
}

.ut-black1 {
    color: white;
    background: #1b1b1b;
}

.el-tree {
    border: none;
}

.ut-input-white input {
    color: #000;
    background-color: #F7F7F7;
}

.ut-input-black input {
    color: white;
    background-color: #1b1b1b;
}

.pagecolr-black {
    background-color: black;
}

.pagecolr-white {
    background-color: white;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}